.find-vehicle-container{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #eee;
    opacity: 0.8;
}
.select-make select::after,.select-model select::after, .select-year select::after{
    position: absolute;
    top: 0;
    right: 0;
    border-right: solid 0.1rem  #444;
    height: 4.4rem;
    width: 4rem;
    content: 'a';
}
.select-make select,.select-model select,.select-year select{
    background-color: #fff;
    border: 0.1rem solid #666;
    border-radius: 1rem;
    position: relative;
    font-size: 1.6rem;
    height: 4.4rem;
    width: 17.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #212529;
}
.select-make select:focus,.select-model select:focus,.select-year select:focus{
    border-color:#666;
    box-shadow: none;
}
.find-vehicle-heading h3{
    font-size: 2rem;
}
.find-your-mat{
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 1rem;
}

@media only screen and (max-width: 575px) {
    .select-model{
        margin-top: 0.5rem;
    }
}