.feature-main-container{
    width: 100%;
    overflow: hidden;
    margin: auto;
}
.feature{
    background-color: var(--bgColor);
    min-width: 281px;
}
.feature:hover p{
    color: #212529;
}
.feature-content h2 {
    font-size: 1.3rem;
    text-transform: capitalize;
}
.feature-content p{
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(116, 115, 115);
    white-space: break-spaces;
}
.icon-container svg{
    font-size: 2rem;
    color: var(--mainRed);
}
.transform-transition{
    transition: var(--mainT);
}
.current-slide-container span{
    cursor: pointer;
}
.desktop-buttons, .current-slide-container{
    width: 100%;
}
.threebutton-container{
    width: 13%;
    margin: 0 auto;
}
.desktop-buttons span, .threebutton-container span, .current-slide-container span{
    display: inline-block;
    background-color: var(--bgColor) !important;
    width: 15px;
    height: 12px;
    cursor: pointer;
}
.desktop-buttons span:hover, .threebutton-container span:hover, .current-slide-container span:hover{
    background-color: var(--mainRed) !important;
}
.active-square{
    background-color: var(--mainRed) !important; 
}
@media only screen and (min-width: 702px){
    .current-slide-container{
        display: none;
    }
}

@media only screen and (min-width: 1202px){
    .threebutton-container{
        display: none;
    }
}

@media only screen and (max-width: 1200px){
    .feature-main-container{
        width: 85%;
    }
    .desktop-buttons{
        display: none;
    }
}

@media only screen and (max-width: 990px){
    .feature-main-container{
        width: 100%;
    }
}

@media only screen and (max-width: 700px){
    .feature-top-container{
        padding: 0;
        margin: 0;
    }
    .feature-main-container{
        width: 100%;
    }
    .feature{
        margin: 0 !important;
    }
    .desktop-buttons{
        display: none;
    }
    .threebutton-container{
        display: none;
    }
}

@media only screen and (max-width: 420px){
    .feature-main-container{
        width: 71%;
    }
}
@media only screen and (max-width: 370px){
    .feature-main-container{
        width: 80%;
    }
}
@media only screen and (max-width: 325px){
    .feature-main-container{
        width: 90%;
    }
}