.nav-main-container{
    background-color: #DAE0E2;
}
.nav-main-container .nav-list-container .display-4{
    font-size: 2.5rem;
}
.nav-main-container .nav-list-container .display-4 a{
    color: var(--mainBlack);
    text-decoration: none;
}
.logo-heading{
    font-size: 4.5rem;
    font-weight: inherit;
}
.logo-heading a{
    color: var(--mainRed);
    text-decoration: none;
}
.logo-heading span{
    color: white;
}
.nav-list-ul{
    list-style: none;
    margin: 0;
}
.nav-list-ul li {
    cursor: pointer;
}
.nav-list-ul li:hover{
    border: none;
    border-bottom: 1px solid var(--mainRed);
}
.side-icon{
    display: none;
    cursor: pointer;
}
.side-icon svg{
    font-size: 4rem;
}
.mobile-container{
    transform: translateX(-1100px);
    position: fixed;
    top: 0%;
    z-index: 20;
    background: white;
    height: 100vh;
    transition: var(--mainT);
}
.mobile-container .mobile-ul{
    list-style: none;
    margin: 0;
    background-color: #eee;
}
.mobile-container .mobile-ul .link{
    height: 3.6rem;
    padding: 7px;
    text-transform: uppercase;
    font-size: 1.8rem;
}
.mobile-container .mobile-ul .link:hover{
    background-color: white;
    color:  var(--mainRed);
}
.mobile-container .mobile-ul a{
    color: #212529;
    text-decoration: none;
}
.telephone{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #333;
    padding: 7px;
    text-transform: uppercase;
}
.telephone:hover{
    background-color: #444;
}
.telephone  a{
    color: white !important;
    font-size: 1.4rem;
}
.telephone a span::before{
    content: "\260e";
    margin-right: .5em;
}
.telephone .second-div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 6.2rem;
    font-size: 2.8rem;
    font-weight: 300;
    padding: 0.2rem;
    text-align: center;
    color: #fff;
    background-color: #d9534f;
    cursor: pointer;
    text-transform: lowercase;
}
.telephone .second-div:hover{
    background-color: #c9302c;
}
.active-sidebar{
    transform: translateX(0);
    transition: var(--mainT);
}

@media only screen and (max-width: 700px){
    .nav-list-container{
        display: none;
    }
    .side-icon{
        display: initial;
    }
    .nav-main-container{
        padding: 0;
    }
    .header-main-flex{
        justify-content: space-around !important;
    }
    .mobile-container{
        width: 100%;
        max-width: 280px;
    }
}