.carousel-main-container{
    padding: 0;
}

.slider, .wrap, .slide-content{
    margin: 0;
    padding: 0;
    width: 100%;
}
.wrap{
    position: relative;
}
.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.slide .img-container img{
    width: 100%;
}
.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide-content span{
    font-size: 5rem;
    color: #fff;
}
.carousel-buttons{
    width: 100%;
}
.carousel-buttons span{
    display: inline-block;
    background-color: var(--bgColor);
    width: 15px;
    height: 12px;
    cursor: pointer;
}
.carousel-buttons span:hover{
    background-color: var(--mainRed);
    transition: var(--mainT);
}
.active-square{
    background-color: var(--mainRed) !important; 
}