.feature-main-container{
    width: 100%;
    overflow: hidden;
}
.feature{
    background-color: #DAE0E2;
    
    min-width: 281px;
    /* height: 261px; */
    margin-left: 2rem;
}
.feature:hover p{
    color: #212529;
}
.feature-content h2 {
    white-space: nowrap;
    font-size: 1.3rem;
    text-transform: capitalize;
    /* font-weight: initial; */
}
.feature-content p{
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(116, 115, 115);
}
.icon-container svg{
    font-size: 2rem;
    color: var(--mainRed);
}
.left-transform{
    transform: translateX(-633px);
    transition: var(--mainT);
}
.current-transform{
    transform: translateX(0px);
    transition: var(--mainT);
}

@media only screen and (max-width: 700px){
    .feature{
        margin-left: 1.5rem;
    }
}